:root {
    --nav-bar-color: #ED7E6D;
    --footer: #F59F91;
    --title: #FCA465;
    --title2: #5348B3;
    --button: #EFB08C;
    --button2: #C1C4DE;
    --font: Noto Sans TC;
}

.navbar {
    background-color: var(--nav-bar-color);
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 7px 10% 7px 10%;
}

.footer {
    background-color: var(--footer);
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 1% 0% 1% 0%;
    font-size: 12px;
    font-family: var(--font);
}

.new_pic_c {
    border-radius: 52px;
    box-shadow: 6px 6px 15px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.news_title_c {
    color: var(--black, #000);
    font-family: Noto Sans TC;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.news_button {
    background-color: var(--button);
    border-color: var(--button);
    border-radius: 30px;
    color: white;
}

.news_button:hover {
    background-color: var(--title);
    border-color: var(--title);
}