@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-bar-color: #ED7E6D;
    --footer: #F59F91;
    --page_title: #FCA465;
    --title2: #5348B3;
    --button: #EFB08C;
    --button2: #C1C4DE;
    --font: Noto Sans TC;
}

a {
    text-decoration: none;
    /* color: white; */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.white_word {
    color: white;
    opacity: 0.7;
}

.white_bg {
    color: white;
}

.white_word:hover {
    opacity: 1;
}

.space {
    padding: 7px 10% 7px 10%;
}

.home_pic {
    width: 100%;
    position: relative;
}

#home_page_title {
    color: var(--white, #FFF);
    text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    font-family: Noto Sans TC;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    position: absolute;
    z-index: 2;

}

#home_page_content {
    position: absolute;
    color: var(--white, #FFF);
    font-family: Noto Sans TC;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 99;
}

#home_page_back1 {
    height: 20px;
    flex-shrink: 0;
    background-color: var(--nav-bar-color);
    position: absolute;
}

#home_page_back2 {
    height: 20px;
    flex-shrink: 0;
    background-color: var(--nav-bar-color);
    position: absolute;
}

/* web */
@media (min-width:600px) {
    #home_page_title {
        top: 30%;
        left: 10%;
    }

    #home_page_content {
        top: 50%;
        left: 11%;
    }

    #home_page_back1 {
        top: 52%;
        left: 12%;
        width: 30%;
    }

    #home_page_back2 {
        top: 55%;
        left: 12%;
        width: 15%;
    }
}


/* phone */
@media(max-width:920px) {
    #home_page_title {
        top: 100px;
        left: 10%;
        font-size: 72px;
    }

    #home_page_content {
        top: 200px;
        left: 11%;
        font-size: 18px;
    }

    #home_page_back1 {
        top: 213px;
        left: 13%;
        width: 60%;
    }

    #home_page_back2 {
        top: 238px;
        left: 13%;
        width: 30%;
    }
}