@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-bar-color: #ED7E6D;
    --footer: #F59F91;
    --page_title: #FCA465;
    --title2: #5348B3;
    --button: #EFB08C;
    --button2: #C1C4DE;
    --font: Noto Sans TC;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

p,
h2,
h3,
h4 {
    font-family: var(--font);
    line-height: 1.6;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: right;
    align-items: center;
}

.white_word {
    color: white;
    opacity: 0.7;
}

.white_bg {
    color: white;
}

.title {
    color: var(--page_title);
}

.title2 {
    color: var(--title2);
}

.white_word:hover {
    opacity: 1;
}

.space {
    padding: 7px 15% 7px 15%;
}

.home_pic {
    width: 100%;
    position: relative;
}

#home_page_title {
    color: var(--white, #FFF);
    text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    font-family: Noto Sans TC;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    position: absolute;
    z-index: 2;

}

#home_page_content {
    position: absolute;
    color: var(--white, #FFF);
    font-family: Noto Sans TC;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 99;
}

#home_page_back1 {
    height: 20px;
    flex-shrink: 0;
    background-color: var(--nav-bar-color);
    position: absolute;
}

#home_page_back2 {
    height: 20px;
    flex-shrink: 0;
    background-color: var(--nav-bar-color);
    position: absolute;
}

#home_news_title {
    font-style: normal;
    color: var(--page_title);
    padding: 4% 0% 4% 0%;
}

#home_news_bg {
    background-color: #F5D8C0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 235px;
}

#home_sign {
    background: url('/images/bg.png');
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 88px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 5% 0% 5% 0%;
}

#home_sign_content {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('/images/bg.png');
    color: transparent;

    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1.5px;
}

#news {
    background-image: url('/images/bg.png');
    padding-top: 10%;
}

#news_bg {
    background-color: white;
    padding: 10% 7% 25% 7%;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
}

/* web */
@media (min-width:600px) {
    #home_page_title {
        top: 30%;
        left: 11%;
    }

    #home_page_content {
        top: 50%;
        left: 12%;
    }

    #home_page_back1 {
        top: 52%;
        left: 13%;
        width: 30%;
    }

    #home_page_back2 {
        top: 55%;
        left: 13%;
        width: 15%;
    }

    #home_news_bg {
        top: 100%;
    }
}


/* phone */
@media(max-width:920px) {
    #home_page_title {
        top: 80px;
        left: 11%;
        font-size: 72px;
    }

    #home_page_content {
        top: 180px;
        left: 12%;
        font-size: 18px;
    }

    #home_page_back1 {
        top: 188px;
        left: 14%;
        width: 60%;
    }

    #home_page_back2 {
        top: 215px;
        left: 14%;
        width: 30%;
    }

    #home_news_bg {
        top: 50%;
    }
}